$containerWidth: 940px;
$baseFontSize: 16px;
$z-side-menu: 100;


@import './layout/fonts.scss';
@import './layout/normalize.scss';
@import './layout/base.scss';
@import './blocks/header.scss';
@import './blocks/menu.scss';
@import './blocks/hero.scss';
@import './blocks/button.scss';
@import './blocks/features.scss';
@import './blocks/feature.scss';
@import './blocks/section.scss';
@import './blocks/headline.scss';
@import './blocks/benefits.scss';
@import './blocks/benefit.scss';
@import './blocks/team.scss';
@import './blocks/reviews.scss';
@import './blocks/interactive-avatar.scss';
@import './blocks/side-menu.scss';
@import './blocks/delivery.scss';
@import './blocks/form.scss';
@import './blocks/radio.scss';





//@import './blocks/separator.scss';









