h1 {
    font-family: "Play", Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;

}
.contacts__phone{
    font-family: "Play",  Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

h3 {
    font-family: "Play", Helvetica, sans-serif;
}