.benefit {
    text-align: center;

}
.benefit__image-wrapper {
    display: inline-block;
    height: 128px;
    width: 128px;
    border-radius: 50%;
    position: relative;
    background-color: #F2F5F4;
    outline: none;
    border: 1px solid transparent;
    overflow: hidden;
    margin-bottom: 24px;
}
.benefit__img {
    height: 68px;
    width: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.benefit__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 7px;
   
}
.benefit__desc {
    color: #666666;
    font-size: 16px;
    line-height: 18.51px;
    padding: 0 17px;
}