.btn{
    padding: 18px 41px;
    border-radius: 100px;
    color: #fff;
    background-color:#E01F3D;
    outline: none;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    font-family:  "Play",  Helvetica, sans-serif;
    text-transform: uppercase;

    &--theme--transparent {
        background: transparent;
        font-size: 14px;
        font-weight: 400;
        padding: 7px;


    }
    
    
}