.delivery__container {
    color: white;
    height: 100%;
}
.delivery-section {
    background-color: #181818;;
    height: 100vh;
    min-height: 650px;
    display: flex;
    color: #292929;
    position: relative;
}

.delivery-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    margin: 75px 0px 57px 4px;
    color: #fff;
}
