.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Play", Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 4px;
 
}
.phone-num {
  display:flex;
  align-items: center;
  font-size: 18px;
  padding: 0 23px;

}
.phone-num__icon-elem  {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.contacts__phone:before {
  content: url(../../img/phone.png);
  margin-right: 6px;
  padding-top:2px;
 
}
