.side-menu { 
    display: flex;
    position:fixed;
    z-index: z-side-menu;
    top:20%;
    right:3%;
    flex-direction: column;
    justify-content: center;

    }
    
.side-menu__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid transparent;
    padding: 0px; 


    &:before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        background:#7B7B7B;
        border-radius: 50%;
    }
}
.side-menu__link--active {
    border-color: #E01F3D;
   
}
    
    
.side-menu__item {
    
    display: flex;
}
.side-menu__item:last-child {
    margin-bottom: 0px;
}
.side-menu__list {
    padding: 0;
    margin: 0;
}

.side-menu__img {
    margin-top: -5px;
    margin-left: -11px;
}